body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/bg-pattern.svg"),
        linear-gradient(
            90deg,
            hsla(222, 49%, 87%, 0.418),
            hsla(222, 49%, 87%, 0.699)
        );
    background-repeat: no-repeat;
}
