body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 100vh;
    overflow: hidden;
    background-color: hsl(230, 100%, 99%);

    background-image: url("../images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: 100vw 55vh;
}

.title {
    background-image: url("../images/pattern-circles.svg");
    background-size: 15rem;
    background-repeat: no-repeat;
    height: 15rem;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: hsl(227, 35%, 25%);

    h1 {
        font-size: 3rem;
        font-weight: 200;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 200;
    }
}

.card {
    background-color: white;
    // height: 30rem;
    width: 40rem;
    box-shadow: 0 2rem 3rem hsla(227, 35%, 25%, 0.281);
    border-radius: 1rem;
    padding: 3rem;
}

.card__upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem 1rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid hsl(230, 100%, 99%);

    &__page-views {
        letter-spacing: 2px;
        text-transform: uppercase;
        // font-size: larger;
        color: hsl(227, 35%, 25%);

        &::after {
            content: "K pageviews";
            // font-size: smaller;
            color: hsl(225, 20%, 60%);
        }
    }

    &__pricing {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__price {
        color: hsl(227, 35%, 25%);
        font-size: 3rem;
        &::before {
            content: "$";
        }
    }

    &__period {
        font-size: 1.2rem;
        color: hsl(225, 20%, 60%);
        &::before {
            content: "/ ";
        }
    }

    &__range {
        grid-column: span 2;
        appearance: none;
        // overflow: hidden;
        // width: 80%;
        // -webkit-appearance: none;
        // background-color: #9a905d;
        outline: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            // border: 1px solid #000000;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            background: hsl(174, 86%, 45%);
            background-image: url("../images/icon-slider.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 3rem;
            margin-top: -1.5rem;
            // transform: translateY(-50%);
        }

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            height: 1rem;
            background-color: hsl(174, 77%, 80%);
            cursor: pointer;
            border-radius: 4px;
            border: none;
        }
    }

    // Billing section
    &__billing {
        grid-column: span 2;
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-self: center;

        font-size: 1.2rem;
        color: hsl(225, 20%, 60%);
        font-weight: 300;
        &__checkbox {
            input {
                appearance: none;

                // &:checked + label {
                //     // background-color: coral;
                // }

                &:checked + label::before {
                    transform: translateX(1.5rem);
                }
            }

            label {
                height: 2rem;
                width: 4rem;
                border-radius: 2rem;
                background-color: hsl(223, 50%, 87%);
                display: inline-block;
                position: relative;
                transition: all 0.2s;

                &:hover {
                    background-color: hsl(174, 77%, 80%);
                }

                &::before {
                    content: "";
                    height: 1.5rem;
                    width: 1.5rem;
                    background-color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 0.25rem;
                    left: 0.5rem;
                    transition: all 0.2s;
                }
            }
        }

        &__yearly {
            position: relative;
            &::after {
                content: "25% discount";

                white-space: nowrap;
                position: absolute;
                left: 110%;
                color: hsl(15, 100%, 70%);
                background-color: hsl(14, 92%, 95%);
                padding: 0.5rem;
                border-radius: 1rem;
                font-size: 0.8rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.card__lower {
    padding-top: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__text-box {
        display: flex;
        gap: 1rem;
        font-size: 1.2rem;
        color: hsl(225, 20%, 60%);
        font-weight: 300;
    }

    &__btn {
        margin: 0 auto;
        background-color: hsl(227, 35%, 25%);
        color: white;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        transition: all 0.3s;
        outline: none;

        &:hover {
            // filter: brightness(140%);
            background-color: lighten(hsl(227, 35%, 25%), 20%);
        }
        &:active {
            background-color: darken(hsl(227, 35%, 25%), 10%);
        }
    }
}
